* {
  border: none;
  border-radius: 0;
  font-family: "Jetbrains Mono NF";
  font-size: 13px;
  min-height:0;
}

window#waybar {
  background: transparent;
  color: white;
}

#window {
  font-weight: bold;
  font-family: "Jetbrains Mono NF";
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #c9545d;
    border-top: 2px solid #c9545d;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}
