!!!!!!!!!!!!!!
!! Settings !!
!!!!!!!!!!!!!!

xterm*faceName: JetBrainsMono NF
xterm*faceSize: 12

xterm*savelines: 10000
!! double click to select all the url as seen on https://scarygliders.net/2011/12/01/customize-xterm-the-original-and-best-terminal/
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

!! copy paste support
xterm*VT100.Translations: #override \
  Ctrl Shift <Key>V:     insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>C:     copy-selection(CLIPBOARD)   


! ! ! TokyoNight colors for Xresources
!
! *background: #24283b
! *foreground: #c0caf5
!
! *color0: #1D202F
! *color1: #f7768e
! *color2: #9ece6a
! *color3: #e0af68
! *color4: #7aa2f7
! *color5: #bb9af7
! *color6: #7dcfff
! *color7: #a9b1d6
!
! *color8: #414868
! *color9: #f7768e
! *color10: #9ece6a
! *color11: #e0af68
! *color12: #7aa2f7
! *color13: #bb9af7
! *color14: #7dcfff
! *color15: #c0caf5

! PaperColor Theme

URxvt.foreground: #4D4D4C
URxvt.background: #EEEEEE

URxvt.color0: #EDEDED
URxvt.color1: #D7005F
URxvt.color2: #718C00
URxvt.color3: #D75F00
URxvt.color4: #4271AE
URxvt.color5: #8959A8
URxvt.color6: #3E999F
URxvt.color7: #4D4D4C
URxvt.color8: #969694
URxvt.color9: #D7005F
URxvt.color10: #718C00
URxvt.color11: #D75F00
URxvt.color12: #4271AE
URxvt.color13: #8959A8
URxvt.color14: #3E999F
URxvt.color15: #F5F5F5
